body{
  background-image: url(https://img.freepik.com/free-vector/80-s-geometric-colorful-decorative-background_52683-18973.jpg?w=1380&t=st=1669147845~exp=1669148445~hmac=5ceb72c9a9049ec55685292f9aeb9caa96f1f27a083f9548c88663188d70199c);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-color{
  color: #45d4ef;
}

.homepage-container{
  margin: auto;
  width: 80%;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #371841;
  border-radius: 5px;
  box-shadow: inset;
}

.page-container{
  margin: auto;
  width: 50%;
  padding: 15px;
  margin-top: 50px;
  background-color: #95309ec9;
  border-radius: 5px;
  box-shadow: inset;
}

.page-logo{
  width: 15%;
  float: left;
}

.signin{
  width: 10%;
  float: right;
}

.signin-field{
  margin: auto;
  width: 50%;
  padding: 15px;
  padding-bottom: 30px;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #e2f2ff;
}

.gamecard-container{
  padding: 15px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.082);
  border-color: rgba(0, 0, 0, 0.288);
  border-style: inset;
  border-width: 1px;
  border-radius: 1%;
}

.gamecard{
  padding: 50px;
  margin: 10px;
}

.game-cover{
  width: 200px;
  height: 275px;
  float: left;
  border-radius: 2%;
  border-color: #ffffff;
  border-width: 2px;
  border-style: inset;
  margin-right: 20px;
}

.game-info{
  width: 45%;
}

.description{
height: 150px;
}

.user-button{
  color: white;
  background: none;
  border: none;
}

.review-form{
  float: right;
  padding: 15px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: #e2f2ff4b;
  width: 52%;
}

.rate-button{
  background-color: rgba(255, 255, 255, 0.432);
  color: rgb(0, 0, 0);
  margin: 2px;
  border-radius: 15%;
  border-color: #00000000;
}

#no-user-review{
  float: right;
  width: 52%;
  background-color: #371841;
  padding: 20px;
}

.review{

}

.review-main{
  float: right;
  padding: 15px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: #e2f2ff4b;
  width: 50%;
  margin-left: 20px;
  margin-bottom: 5px;
}

.review-username-main{
  padding: 0px;
  margin: 0px;
}

.review-game{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: #e2f2ff4b;
  width: 30%;
  margin-bottom: 20px;
}

.review-username-game{
  padding: 0px;
  margin: 0px;
  font-size: larger;
}

