body{
  background-image: url(https://img.freepik.com/free-vector/80-s-geometric-colorful-decorative-background_52683-18973.jpg?w=1380&t=st=1669147845~exp=1669148445~hmac=5ceb72c9a9049ec55685292f9aeb9caa96f1f27a083f9548c88663188d70199c);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-color{
  color: #45d4ef;
}

.homepage-container{
  margin: auto;
  width: 80%;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #371841;
  border-radius: 5px;
  box-shadow: inset;
}

.page-container{
  margin: auto;
  width: 50%;
  padding: 15px;
  margin-top: 50px;
  background-color: #95309ec9;
  border-radius: 5px;
  box-shadow: inset;
}

.page-logo{
  width: 15%;
  float: left;
}

.signin{
  width: 10%;
  float: right;
}

.signin-field{
  margin: auto;
  width: 50%;
  padding: 15px;
  padding-bottom: 30px;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #e2f2ff;
}

.gamecard-container{
  padding: 15px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.082);
}

.gamecard{
  width: 50%;
  padding: 50px;
  margin: 10px;
}

.game-cover{
  width: 200px;
  height: 275px;
  padding-bottom: 20px;
  float: left;
}
